# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.DS_Store

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Limpieza Produccion
backend/*.db
*.db
*.sqlite
*.sqlite3
*.pdf
*.docx
*.xlsx
dump.txt
node_modules/
.idea/
*.iml
frontend/android/.idea/