# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.DS_Store

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Limpieza Produccion
backend/*.db
*.pdf
*.docx
*.xlsx
dump.txt
app_backup.jsx
